<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cartItem.length > 0) { %>
                <ul>
                    <% cartItem.forEach(cartItem => { %>
                        <li>
                            <p><%=cartItem.productId.title%> (<%=cartItem.quantity%>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%=cartItem.productId._id%>">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <%})%>
                </ul>
                <div class="centered">
                    <form action="/orders" method="post">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <%}%>
        </main>
        <%- include('../includes/end.ejs') %>
